.property-card button {
  margin-top: 0;
}
.property-card .list-group-separator {
  margin-top: 0;
}
.property-card .row-picture {
  padding-top: 10px;
}
.property-card .btn-xs {
  padding: 8px 21px;
}
.property-card .list-group-item {
  padding: 0;
}
.property-card .list-group-item .row-content {
  width: 350px;
}
.property-card a.pull-right {
  cursor: pointer;
}
.property-card a.pull-right:hover {
  text-decoration: none;
  font-style: normal;
}
.property-card .list-group-item-text {
  height: 44px;
}
.property-card .row-action-primary i {
  margin-top: 10px;
  margin-left: 3px;
}
.property-form input.ng-dirty.ng-invalid {
  border-bottom-color: red !important;
}
.bg-red {
  background-color: #f44336 !important;
}
.bg-pink {
  background-color: #e91e63 !important;
}
.bg-purple {
  background-color: #9c27b0 !important;
}
.bg-deeppurple {
  background-color: #673ab7 !important;
}
.bg-indigo {
  background-color: #3f51b5 !important;
}
.bg-lightblue {
  background-color: #03a9f4 !important;
}
.bg-cyan {
  background-color: #00bcd4 !important;
}
.bg-teal {
  background-color: #009688 !important;
}
.bg-green {
  background-color: #4caf50 !important;
}
.bg-lightgreen {
  background-color: #8bc34a !important;
}
.bg-lime {
  background-color: #cddc39 !important;
}
.property-card {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.property-card.ng-enter,
.infoArea.ng-enter {
  -webkit-animation: flipInX 0.5s linear;
  /* Safari/Chrome */
  animation: flipInX 0.5s linear;
  /* IE10+ and Future Browsers */
}
.property-card.ng-leave,
.infoArea.ng-leave {
  -webkit-animation: flipOutX 0.5s linear;
  /* Safari/Chrome */
  animation: flipOutX 0.5s linear;
  /* IE10+ and Future Browsers */
}
.property-card.failedReq {
  -webkit-animation: shake 0.8s linear;
  /* Safari/Chrome */
  animation: shake 0.8s linear;
  /* IE10+ and Future Browsers */
}
.property-card.successedReq {
  -webkit-animation: bounce 0.8s linear;
  /* Safari/Chrome */
  animation: bounce 0.8s linear;
  /* IE10+ and Future Browsers */
}
.property-card.isLoading {
  -webkit-animation: pulse 1s infinite;
  /* Safari/Chrome */
  animation: pulse 1s infinite;
  /* IE10+ and Future Browsers */
}
#infoBtn {
  position: absolute;
  right: 10px;
  bottom: 0;
}
