.property-card {
  button {
    margin-top:0;
  }
  .list-group-separator {
    margin-top: 0;
  }
  .row-picture {
    padding-top:10px;
  }
  .btn-xs {
    padding:8px 21px;
  }
  .list-group-item {
    padding:0;
    .row-content {
      width: 350px;
    }
  }
  a.pull-right {
    cursor: pointer;
  }
  a.pull-right:hover {
    text-decoration: none;
    font-style: normal;
  }
  .list-group-item-text {
    height:44px;
  }
  .row-action-primary {
    i {
      margin-top: 10px;
      margin-left: 3px;
    }
  }

}

.property-form {
  input.ng-dirty.ng-invalid {
    border-bottom-color:red !important;
  }
}



@red-500: #f44336;
@pink-500: #e91e63;
@purple-500: #9c27b0;
@deep-purple-500: #673ab7;
@indigo-500: #3f51b5;
@blue-500: #2196f3;
@light-blue-500: #03a9f4;
@cyan-500: #00bcd4;
@teal-500: #009688;
@green-500: #4caf50;
@light-green-500: #8bc34a;
@lime-500: #cddc39;
@yellow-500: #ffeb3b;
@amber-500: #ffc107;
@orange-500: #ff9800;
@deep-orange-500: #ff5722;
@brown-500: #795548;
@grey-500: #9e9e9e;
@blue-grey-500: #607d8b;


.bg-red {
  background-color: @red-500!important;
}
.bg-pink {
  background-color: @pink-500!important;
}
.bg-purple {
  background-color: @purple-500!important;
}
.bg-deeppurple {
  background-color: @deep-purple-500!important;
}
.bg-indigo {
  background-color: @indigo-500!important;
}
.bg-lightblue {
  background-color: @light-blue-500!important;
}
.bg-cyan {
  background-color: @cyan-500!important;
}
.bg-teal {
  background-color: @teal-500!important;
}
.bg-green {
  background-color: @green-500!important;
}
.bg-lightgreen {
  background-color: @light-green-500!important;
}
.bg-lime {
  background-color: @lime-500 !important;
}
.property-card {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.property-card.ng-enter,
.infoArea.ng-enter{
  -webkit-animation: flipInX 0.5s linear; /* Safari/Chrome */
  animation: flipInX 0.5s linear; /* IE10+ and Future Browsers */
}

.property-card.ng-leave,
.infoArea.ng-leave{
  -webkit-animation: flipOutX 0.5s linear; /* Safari/Chrome */
  animation: flipOutX 0.5s linear; /* IE10+ and Future Browsers */
}

.property-card.failedReq {
  -webkit-animation: shake 0.8s linear; /* Safari/Chrome */
  animation: shake 0.8s linear; /* IE10+ and Future Browsers */
}
.property-card.successedReq {
  -webkit-animation: bounce 0.8s linear; /* Safari/Chrome */
  animation: bounce 0.8s linear; /* IE10+ and Future Browsers */
}

.property-card.isLoading {
  -webkit-animation: pulse 1s infinite; /* Safari/Chrome */
  animation: pulse 1s infinite; /* IE10+ and Future Browsers */
}

#infoBtn {
  position: absolute;
  right: 10px;
  bottom: 0;
}