
<div class="list-group property-card well well-sm reveal-animation"
     ng-repeat="property in properties | orderBy:'-lastUsed'"
     ng-class="{isLoading: property.isRunning, failedReq: property.requestFailed, successedReq: property.requestSuccessed}"
        >
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="bg-{{property.bgcolor}}">{{psctrl.getNameIndicator(property.name)}}</i>
        </div>
        <div class="row-content">
            <h2 class="list-group-item-heading">{{property.name}}
                <a href="{{property.url}}" class="pull-right" target="_blank"><i class="mdi-action-launch"></i></a>
                <a ng-click="deleteItem(property)" class="pull-right" target="_blank"><i class="mdi-action-delete"></i></a>
            </h2>
            <p class="list-group-item-text bs-component" ng-hide="property.isRunning">
                <button class="btn btn-primary btn-xs" ng-click="psctrl.doFlush(property)">Flush</button>
                <button class="btn btn-primary btn-xs" ng-click="psctrl.doBuild(property)">Build</button>
                <button class="btn btn-info btn-sm"  ng-click="psctrl.doBuildFlush(property)">Build & Flush</button>
            </p>
            <div ng-show="property.isRunning" class="progress progress-striped active" style="height:24px; width:89%">
                <div class="progress-bar progress-bar-info" style="width: 100%"></div>
            </div>
        </div>
    </div>

</div>