<div class="well bs-component well">
    <form class="form-horizontal property-form" novalidate="novalidate" name="propertyForm"
          ng-submit="propertyForm.$valid && pctrl.submit(pctrl.property)"
            >
        <fieldset>
            <legend><i class="mdi-editor-attach-file"></i> Create new Property <strong>{{pctrl.property.name}}</strong>
            </legend>
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Name</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name"
                           ng-model="pctrl.property.name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputUrl" class="col-lg-2 control-label">URL</label>

                <div class="col-lg-10">
                    <input type="url" class="form-control" id="inputUrl" placeholder="URL"
                           ng-model="pctrl.property.url" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default" ng-click="reset()" type="reset">Reset</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="checkbox pull-right">
    <label>
        <input type="checkbox" ng-model="showInfo"><span class="ripple"></span><span class="check"></span> Show Info
    </label>
</div>
<br/><br/><br/>
<div class="well bs-component infoArea" ng-if="showInfo">
    <h4>SSBuilder V 0.1</h4>

    <p>This is a Project by <a href="http://www.headtrip.eu">HEADTRIP E-Business Solutions</a> <br/>
        made with <i class="mdi-action-favorite mdi-material-pink" style="font-size: 13px;"></i> for the Silverstripe
        Developer Community.<br>
        <br/>
        Say hello: <a href="mailto:hi@headtrip.eu">hi@headtrip.eu</a>
    </p>

    <p><strong>Projects used:</strong> <br/>
        AngularJS<br/>
        Animate.css <br/>
        Bootstrap<br/>
        Bootstrap Material Design<br/>
        IDBStore
    </p>
</div>